
$color-whhite: #fff;
$color-graylight: #b9b9b9;
$color-graydark: #474747; 
$color-primary: #285a81;
$color-secondary: #1f9cfd;

$bgcolor-bluedark: #3f4a56;
$bgcolor-blue1: #a8d8ff;
$bgcolor-blue2: #c1e1ff;
$bgcolor-blue3: #d6eaff;